body {
    background-color: #faebd7;
  }
  h1 {
    Background-color: #43ad06;
    text-align: center;
    color: #e7edf2;
    width: 800px;
  }
  h2 {
    Background-color: #43ad06;
    text-align: center;
    color: #e7edf2;
    width: 800px;
  }
  
  h4 {
    Background-color: #0b87b8;
    text-align: center;
    color: #e7edf2;
    width: 800px;
    Font-size: 24px;
  }
  
  h5 {
    Background-color: #c32c2c ;
    Text-align:center;
    Font-size: 24px;
    color:#e7edf2;
    width: 800px;
  }
  
  h6 {
    text-align: left
  }
  
  img {
    width: 800px;
    Height:600px;
    float: center;
  }
  p {
    
    text-indent: 20px;
    font-family:monospace;
    font-size: 15px;
    width: 800px;
  }
  